.container {
    position: absolute;
    width: 80%;
    height: 80%;
    margin: 10% 10% 10% 10%;
    background: rgb(247,247,247)
}

.container_text {
    position: relative;
    width: 40%;
    color: black;
    display:inline-block;;
}

.text{
    top:20%;
    position:relative;
    color:rgb(88,88,88);
    display:inline-block;
}


.view{
    top:30%;
    position:relative;
    display:inline-block;
    right: -10%;

}